
@{
    ViewBag.Title = "修改畫面";
}

<h2>修改畫面</h2>

<table>
    <tr>
        <td>書名</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>作者</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>出版商</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>內容簡介</td>
        <td><textarea style="width:auto;height:auto"></textarea></td>
    </tr>
    <tr>
        <td>購書日期</td>
        <td><input type="date" /></td>
    </tr>
    <tr>
        <td>圖書類別</td>
        <td>
            <select>
                <option>選項1</option>
                <option>選項2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>借閱狀態</td>
        <td>
            <select>
                <option>選項1</option>
                <option>選項2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>借閱人</td>
        <td>
            <select>
                <option>選項1</option>
                <option>選項2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="回前一頁" /><input type="reset" value="刪除" /><input type="reset" value="存檔" /></td>
    </tr>
</table>


