
@{
    ViewBag.Title = "新增畫面";
}

<h2>新增畫面</h2>

<table>
    <tr>
        <td>書名</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>作者</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>出版商</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>內容簡介</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>購書日期</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>圖書類別</td>
        <td>
            <select>
                <option>選項1</option>
                <option>選項2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="存檔" /><input type="reset" value="清除" />
    </tr>
</table>

